{%extends 'menu/skelet.html'%}
{%load static%}
{%block title%}
Задонатить
Меню дом
{%endblock%}
{%block page%}
<div class="container d-flex justify-content-center align-items-center">
<div class="Donate_text">
<h1>Донат</h1>
<h2>Pin-код</h2>
<h2>Сумма(В долларах)</h2>
<h4>*Убедись, что ты донатишь со своей карты, или владелец карты разрешил тебе донатить.</h4>
<h4>*Учти, что деньги будут тратиться не только на разработку игр.</h4>
<h4>*Учти, что донат не даёт никаких дополнительных преймуществ.</h4>
<h4>*Убедись, что URL правильный, если что-то подозреваешь, не донать! Это того не стоит!</h4></div>
</div>
{%endblock%}