{%load static%}
<!DOCTYPE html>
<html lang="ru"> 
    <head>
        <title>
            {%block title%}
            {%endblock%}
        </title>
    <link rel="stylesheet" href="{%static 'css/menu.css'%}">
    </head>
    <body class="square">
        <a href="{%url 'index'%}"><img src="{%static 'images/S_ecialkaik.png'%}" class="text"></a>
        {%if request.user.is_authenticated%}
        <h2 style="color: aliceblue">{{user.username}}</h2>
<a href='{%url "donate"%}'><img src="{%static 'images/Donate.png'%}" class="Donate"></a>
<a href='{%url "logout"%}'><img src="{%static 'images/Exit_from_account.png'%}" class="Exit_button"></a>
        {% else%}
        <a href='{%url "register"%}'><img src="{%static 'images/Register.png'%}" class="Exit_button"></a>
        <a href='{%url "login"%}'><img src="{%static 'images/Login.png'%}" class="Login_button"></a>
        {% endif%}
        {%block page%}
        {%endblock%}
    </body>
</html>